


<div class="content">

    <p class="borderLines">
        Dieses Jahr müssen wir leider mehr Schichten zuweisen als das wir das als Crew noch schaffen würden. Um dir die
        finanzielle Schwere des Ticketkaufs ein wenig zu erleichtern kannst du uns daher gerne deine Arbeitskraft zur Verfügung
        stellen. <br>
        Mindesteinsatz sind dabei 6 Stunden für die Hälfte deines Ticketpreises. Wenn du mehr arbeitest geht da natürlich auch
        noch mehr! Abgerechnet wird dann am Ende des Festivals, also hol dir auf jeden Fall erstmal ein reguläres Ticket!
    </p>

    <mat-tab-group>
        <mat-tab *ngFor="let cat of categoryOptions" [label]="cat.name">
            <div class="tabContent">
                {{cat.description}}
            </div>
        </mat-tab>
    </mat-tab-group>
    
    
    <form [formGroup]="form">
        <mat-form-field>
            <mat-label>Vorname</mat-label>
            <input type="text" id="name" matInput formControlName="name">
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input type="text" id="surname" matInput formControlName="surname">
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>E-Mail</mat-label>
            <input type="email" id="email" matInput formControlName="email" email>
            <mat-error *ngIf="form.get('email')?.hasError('email') && form.get('email')?.touched">Gib eine gültige E-Mail
                Adresse ein!</mat-error>
        </mat-form-field>
        
        <mat-form-field
            matTooltip="Damit wir dich kontaktieren können, falls was schief geht. Zusätzlich landest du in der WhatsApp Gruppe!">
            <mat-label>Telefonnummer</mat-label>
            <input type="tel" id="phone" matInput formControlName="phone">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Bereiche in denen du dir vorstellen könntest zu arbeiten</mat-label>
            <mat-select [formControl]="categories" multiple>
                <mat-option *ngFor="let cat of categoryOptions" [value]="cat.name">{{cat.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Infos zu dir und Wunscharbeitszeiten</mat-label>
            <textarea type="text" matInput formControlName="comment">
                        </textarea>
        </mat-form-field>

        <div class="info">
            <p>
                Bitte beachtet, dass wir euch natürlich nichts versprechen können. Es ist auch jetzt noch nicht 100% absehbar wie viel Arbeitskraft wir benötigen. Auch hier gilt first come first serve.
            </p>
        </div>

        <button mat-raised-button color="primary" (click)="submitHelper()" [disabled]="form.invalid">
            Bewerbung abschicken!
        </button>
        
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <div *ngIf="statusMessage">{{ statusMessage }}</div>
    </form>    
</div>