.container {
    height: 100%;
    cursor: pointer;
    align-items: center;

    display: flex;
    align-items: center;
    justify-content: center;

    /* for safari */
    backface-visibility: hidden;
    margin-left: 10px;
    margin-top: 5px;
}

.windradFluegel {
    position: absolute;
    transform-origin: 41% 58%;

    transform:
        translate(2.5px, -4px)
        rotate(calc(var(--scroll) * 10deg)) scale(3);

}

.baumring {
    z-index: 0;
    position: absolute;

    transform:
        translateX(calc(
            var(--scrollRange) * 2px * var(--order) * var(--order) * (min(var(--scroll), 3) / 3)
        ))
        scale(calc(
            1 + min(var(--scroll), 3)
        ));
}