<!-- <div class="cursor" [ngClass]="{'expand': expand, 'tilt': tilt}" [style.top]="top" [style.left]="left">
  <img class="windradCursor" src="./../../../assets/windrad.png" alt="">
</div> -->

<div *ngIf="!isHomePage" class="background"></div>

<div appWidthObserver class="content" [ngClass]="{'backgroundImage': !isHomePage}">
  <app-header *ngIf="!isHomePage"></app-header>
  <!-- todo: margin of header -> not consistent with height change on mobile -->
  <router-outlet [ngStyle]="!isHomePage ? {'margin-top': '60px'} : {}" ></router-outlet> <!-- header height -->
  <app-footer *ngIf="!isHomePage" style="z-index: 2;"></app-footer>

</div>