.background {
    display: absolute;
    position: fixed;
    background-image: url('../assets/hintergrund.jpg');
    background-position: center center;

    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}

.content {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
app-header {
    position: fixed;
    top: 0px;
    z-index: 3;
}


/* cursor stuff */
app-cursor {
    z-index: 0;
    position: absolute;
    top: 100px;
    pointer-events: none;
}

.windradCursor {
    width: 50px;
    pointer-events: none;

    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.cursor {
    z-index: 1;
    position: absolute;
    top: 100px;
    pointer-events: none;
}


@keyframes cursorAnim {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(3);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
}

@keyframes cursorTilt {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(10deg);
    }
}

.tilt {
    animation: cursorTilt .5s forwards;

}