<!-- <div class="cursor" [style.top]="top" [style.left]="left">
  <img class="windradCursor" src="./../../../assets/windrad.png" alt="">
</div> -->


<app-header></app-header>

<!-- eigener scroll context -->
<div class="parallax" id="scrollContainer" #scrollContainer [appWidthObserver]>
  <app-parallax style="z-index: 0;"></app-parallax>
  <div class="content" [appWidthObserver]>
    <router-outlet></router-outlet>
    <app-footer style="z-index: 2;"></app-footer>
  </div>
</div>

<!--  <app-footer></app-footer> -->
