app-header {
    position: fixed;
    top: 0px;
    z-index: 2;
}


.hasMargin {
    display: block;
    margin-top: 100px;
    background-image: url("../assets/hintergrund.jpg");
    background-repeat: repeat;
}






/* cursor stuff */
app-cursor {
    z-index: 0;
    position: absolute;
    top: 100px;
    pointer-events: none;
}

.windradCursor {
    width: 50px;
    pointer-events: none;

    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.cursor {
    z-index: 1;
    position: absolute;
    top: 100px;
    pointer-events: none;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(3);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid red;
}