:host {
    display: grid;
    position: relative;
    
    width: 100vw;
    justify-items: center;

    background-color: var(--accent-color1);
    box-sizing: border-box;
    /* margin: 0 100px; */
    padding: 0 30px;
}

.footerElements {
    display: flex;
    gap: 40px;

    max-width: 135„0px;
    width: 100%;
    align-items: center;
    color: var(--text-color);
    justify-content: space-around;
}






@media (max-width: 550px) {
    .footerElements {
        display: grid;
        grid-template-columns: 1fr 2fr;
        /* grid-template-rows: 0.7fr 0.1fr 0fr; */
        grid-template-areas:    
            "windrad ."
            "windrad iconsMiddle"
            "windrad links";

        gap: 0;
        grid-gap: 0;


        text-align: center;
        max-width: 400px;
    }

    :host {
        height: 230px;
        padding: 0 30px 0 5px;
    }

    .links {
        line-height: 1.8em!important;
    }

}

.windrad {
    position: relative;
    pointer-events: none;
    
    bottom: 15%;
    height: 130%;
    width: 100px;

    display: flex;
    justify-content: center;
    /* margin-left: 10%; */
    z-index: 10;
}

.stamm {
    position: absolute;
    bottom: 0;
    height: 72.6%;
    object-fit: contain;
}

@keyframes rotating {
    from { transform: rotate(0deg);   }
    to {   transform: rotate(360deg); }
}

.fluegel {
    position: absolute;
    translate: 3% 10%;

    height: 53.9%;
    object-fit: contain;

    animation: rotating 12s linear infinite;
}

.iconsMiddle {
    justify-self: center;
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 20px;
    height: fit-content;

    --test: #fff;
}



.buttonBG {
    height: 50px;
    width: 50px;
    background-size: 50px 50px;
    cursor: pointer;
    position: relative;

}

.instagramBG {
    background-image: url("../../../assets/instagram.svg");
}

.outlineBG {
    background-image: url("../../../assets/instagram_outline_color.svg");
}

.button {
    height: 0;
    transition: all 0.3s ease-in-out;
}

.buttonBG:hover .button {
    opacity: 0;
}

.iconContainer {
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
}

.links {
    list-style: none;
    margin: 25px 0;
    padding: 0;
    line-height: 40px;
    white-space: nowrap;
}
li:hover {
    color: var(--accent-color2);
    cursor: pointer;
}






.slider-container {

    display: grid;
    grid-template-columns: 0.1fr 1fr;
    align-items: center;
    
    /* horizontal gap */
    gap: 0 20px;

    right: 50px;
    text-align: right;
}

mat-slider {
    width: 100%;
}

@media (max-width: 1000px) {
    .slider-container {
        display: none;
    }
}

.alpha {
    width: 100px;
    transform: rotate(270deg);
    /* transform-origin: bottom left; */
}