:host {
    position: relative;
    display: grid;
    justify-items: center;
    background-color: var(--accent-color1);
    height: 200px;
    padding: 0 100px;
}

.footerElements {
    position: absolute;
    display: grid;
    grid-template-columns: 0.7fr 1fr 1fr;
    grid-template-areas: 
        "windrad iconsMiddle links";
    grid-gap: 20px;

    height: 100%;
    width: min(100%, 950px);

    /* justify-content: space-around; */
    justify-items: center;
    align-items: center;

    /* gap: 100px; */
    flex-wrap: wrap;
}


@media (max-width: 500px) {
    .footerElements {
        grid-gap: 0;
        grid-template-columns: 0.5fr 1fr;
        grid-template-areas: 
            "windrad iconsMiddle"
             "windrad links";
        text-align: center;
        height: 100px;
    }

    :host {
        height: 250px;
    }
}

@keyframes rotating {
    from { transform: rotate(0deg);   }
    to {   transform: rotate(360deg); }
}

.windrad {
    
    /* position: relative; */
    width: max(150px, 100%);
    height: 120px;

    transform: 
        translateY(80px);

    pointer-events: none;
    align-self: flex-start;
}

.stamm {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50.1%);
    height: 100%;
    width: 100%;
    object-fit: contain;    
}

.fluegel {

    position: absolute;
    top: -43%;
    left: 3px;

    width: 100%;
    height: 100%;
    object-fit: contain;

    /* position: absolute;
    height: 100%;
    width: auto;
    transform: translateY(500px); */


    transition: all 2s ease-in-out;
    animation: rotating 12s linear infinite;
}



.iconsMiddle {
    /* background-color: var(--bg-color); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: fit-content;
}

.instagram {
    transition: all 0.3s ease-in-out;
    height: 50px;
    width: 50px;
    background-image: url("../../../assets/instagram_white.svg");
}
.instagram:hover {
    transition: all 0.3s ease-in-out;
    background-image: url("../../../assets/instagram.svg");
}


ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
    height: fit-content;
}
li:hover {
    color: var(--accent-color2);
    cursor: pointer;
}