
<div class="footerElements">
    <div class="windrad" style="grid-area: windrad;">
        <img src="/assets/windrad_stamm.png" alt="Windrad" class="stamm">
        <img src="/assets/windrad_fluegel.png" alt="Windrad" class="fluegel">
    </div>
    
    <!-- <div class="logoWrapper">
    </div> -->
    
    
    <div class="iconsMiddle" style="grid-area: iconsMiddle;">
        <!-- Preload the hover image -->
        <img src="../../../assets/instagram.svg" alt="" style="display: none;">
        
        <a href="https://www.instagram.com/scheppernfestival/" target="_blank" rel="noopener noreferrer">
            <div class="button instagram"></div>
        </a>

        <div class="button whiteOutlineButton" matTooltip="Der Verein">
            <mat-icon>groups</mat-icon>
        </div>
        
        <div class="button whiteOutlineButton" matTooltip="Kontakt" [routerLink]="['/kontakt']">
            <mat-icon>email</mat-icon>
        </div>

        <!-- alter Button -->
        <!-- <button mat-fab aria-label="Kontakt" matTooltip="Kontakt">
            <mat-icon>email</mat-icon>
        </button> -->
    </div>
    
    
    <ul class="links" style="grid-area: links;">
        <li>Impressum</li>
        <li>AGBs</li>
        <li>Datenschutzhinweise</li>
    </ul>

    <div class="slider-wrapper" style="grid-area: slider;">
        R
        <mat-slider min="0" max="255">
            <input matSliderThumb [(ngModel)]="red" (input)="updateBackgroundColor()">
        </mat-slider>
        G
        <mat-slider min="0" max="255">
            <input matSliderThumb [(ngModel)]="green" (input)="updateBackgroundColor()">
        </mat-slider>
        B
        <mat-slider min="0" max="255">
            <input matSliderThumb [(ngModel)]="blue" (input)="updateBackgroundColor()">
        </mat-slider>
        Alpha
        <mat-slider min="0" max="100">
            <input matSliderThumb [(ngModel)]="alpha" (input)="updateBackgroundColor()">
        </mat-slider>
    </div>
</div>
