:host {
    width: 100vw;
    position: relative;
    display: grid;
    
    background-color: var(--accent-color1);
    height: 200px;
    justify-items: center;
    align-items: center;
}

.footerElements {
    display: grid;
    grid-template-columns: 0.7fr 1fr 1fr 0.5fr;
    grid-template-areas: 
        "windrad iconsMiddle links slider";
    grid-gap: 20px;

    /* height: 100%; */
    width: min(100%, 1150px);

    align-items: center;
    /* margin-right: 20px; */
}


@media (max-width: 550px) {
    .footerElements {
        /* vertical gap */
        /* grid-gap: 10px; */

        grid-template-columns: 1fr 2fr;
        /* grid-template-rows: 1fr 0fr; */
        grid-template-areas:    
            "windrad ."
            "windrad iconsMiddle"
            "windrad links";

        text-align: center;
        max-width: 400px;
    }

    :host {
        height: 230px;
        padding-right: 20px!important;
    }

    /* .iconsMiddle {
        justify-self: right !important;
    } */
    .links {
        line-height: 1.8em!important;
        padding-right: 20px;
    }

}

@keyframes rotating {
    from { transform: rotate(0deg);   }
    to {   transform: rotate(360deg); }
}

.windrad {
    position: absolute;
    bottom: 0;
    pointer-events: none;

    width: max(150px, 100%);
    height: 120px;
}

.stamm {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50.1%);
    height: 100%;
    width: 100%;
    object-fit: contain;    
}

.fluegel {
    position: absolute;
    top: -43%;
    left: 3px;

    width: 100%;
    height: 100%;
    object-fit: contain;

    transition: all 2s ease-in-out;
    animation: rotating 12s linear infinite;
}

.iconsMiddle {
    justify-self: center;
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 20px;
    height: fit-content;
}

.button {
    transition: all 0.3s ease-in-out;
    height: 50px;
    width: 50px;
    background-size: 50px 50px;
    cursor: pointer;
}


.instagram {
    background-image: url("../../../assets/instagram_white.svg");
}
.instagram:hover {
    transition: all 0.3s ease-in-out;
    background-image: url("../../../assets/instagram.svg");
}

.whiteOutlineButton {
    background-image: url("../../../assets/instagram_outline.svg");
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.whiteOutlineButton:hover {
    transition: all 0.3s ease-in-out;
    background-image: url("../../../assets/instagram_outline_color.svg");
    background-size: 50px 50px;
}

.links {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 40px;
    white-space: nowrap;
}
li:hover {
    color: var(--accent-color2);
    cursor: pointer;
}

.slider-wrapper {

    display: grid;
    grid-template-columns: 0.1fr 1fr;
    align-items: center;
    
    /* horizontal gap */
    gap: 0 20px;

    right: 50px;
    text-align: right;
}

mat-slider {
    width: 100%;
}

@media (max-width: 1000px) {
    .slider-wrapper {
        display: none;
    }
}