
<div class="footerElements">
    <div class="windrad" style="grid-area: windrad;">
        <img src="/assets/windrad_stamm.png" alt="Windrad" class="stamm">
        <img src="/assets/windrad_fluegel.png" alt="Windrad" class="fluegel">
    </div>
    
    <!-- <div class="logoWrapper">
    </div> -->
    
    
    <div class="iconsMiddle" style="grid-area: iconsMiddle;">
        <!-- Preload the hover image -->
        <img src="../../../assets/instagram.svg" alt="" style="display: none;">
        
        <a href="https://www.instagram.com/scheppernfestival/" target="_blank" rel="noopener noreferrer">
            <div class="button instagram"></div>
        </a>

        <div class="button whiteOutlineButton">
            <mat-icon>groups</mat-icon>
        </div>
        <div class="button whiteOutlineButton">
            <mat-icon>accessibility_new</mat-icon>
        </div>
    
        <!-- <button mat-fab aria-label="Helfer werden Button" matTooltip="Der Verein">
            <mat-icon>groups</mat-icon>
        </button>
        <button mat-fab aria-label="Helfer werden Button" matTooltip="Helfer werden!">
            <mat-icon>accessibility_new</mat-icon>
        </button> -->
    </div>
    
    
    <ul class="links" style="grid-area: links;">
        <li>Impressum</li>
        <li>AGBs</li>
        <li>Datenschutzhinweise</li>
    </ul>
</div>    
