
<div class="windrad">
    <img src="/assets/windrad_stamm.png" alt="Windrad" class="stamm">
    <img src="/assets/windrad_fluegel.png" alt="Windrad" class="fluegel">
</div>

<!-- <div class="logoWrapper">
</div> -->


<div class="iconsMiddle">
    <!-- Preload the hover image -->
    <img src="../../../assets/instagram.svg" alt="" style="display: none;">
    
    <a href="https://www.instagram.com/scheppernfestival/" target="_blank" rel="noopener noreferrer">
        <div class="instagram">
            <!-- <img src="/assets/instagram_white.svg" alt="Instagram"> -->
        </div>
    </a>

    <button mat-fab aria-label="Helfer werden Button" matTooltip="Der Verein">
        <mat-icon>groups</mat-icon>
    </button>
    <button mat-fab aria-label="Helfer werden Button" matTooltip="Helfer werden!">
        <mat-icon>accessibility_new</mat-icon>
    </button>
</div>


<ul>
    <li>Impressum</li>
    <li>Allgemeine Geschäftsbedingungen</li>
    <li>Datenschutzhinweise</li>
</ul>

