
<div class="content">
    <section>
        <h2>Klangkollektiv Braunschweig e.V.</h2>
    
        <div class="table indented">
            <div class="left">
                Adresse
            </div>
            <div class="right">
                Rabenrodestraße 3<br>
                38110 Braunschweig<br>
                Deutschland
            </div>
            <div class="left">
                E-Mail
            </div>
            <div class="right">
                info@scheppernaufbrettern.de
            </div>
            <div class="left">
                
            </div>
            <div class="right">
                <button mat-raised-button [routerLink]="'/kontakt'">Kontaktformular</button>
            </div>
        </div>
    </section>
    
    <section>
        <h2>Registrierungsinformationen</h2>
        <div class="indented">
            <p>
                Eingetragen im Vereinsregister des Amtsgerichts Braunschweigs<br>
                Registernummer: VR 202326
            </p>
        </div>
    </section>
    
    <section>
        <h2>Vertretungsberechtigte</h2>
        <div class="indented">
            <p>
                1. Vorsitzender: Tom Lichtenberg<br>
                2. Vorsitzende: Lea Sewella<br>
                Schatzmeister: Arne Hildebrandt
            </p>
        </div>
    </section>
    <p style="margin-top: 100px;">
        Webdesign mit <span class="heart">♥</span> von Moritz Leugers und <a href="http://www.carlbettermann.de/" target="_blank">Carl Bettermann</a>.
    </p>
</div>