
<img class="imgStack background"  src="../../../assets/windpark2/windpark.jpg" alt="">

<!-- von vorne nach hinten -->
<img class="imgStack e0" src="../../../assets/windpark2/0.png" alt="">
<img class="imgStack e1" src="../../../assets/windpark2/1.png" alt="">
<img class="imgStack e2" src="../../../assets/windpark2/2.png" alt="">
<img class="imgStack e3" src="../../../assets/windpark2/3.png" alt="">
<img class="imgStack e4" src="../../../assets/windpark2/4.png" alt="">
<img class="imgStack e5" src="../../../assets/windpark2/5.png" alt="">
<img class="imgStack e6" src="../../../assets/windpark2/6.png" alt="">

<p class="scheppern" style="margin: 0;">Scheppern</p>


<!-- <img class="imgStack ebene0 windrad" src="../../../assets/header/windpark_ebene0.png" alt=""> -->
<!-- <img class="imgStack ebene0 wurzeln" src="../../../assets/header/windpark_ebene0_wurzeln.png" alt=""> -->
