/* You can add global styles to this file, and also import other style files */

/* @import '~@angular/material/theming'; */

html, body { 
    height: 100%;
    background-color: var(--bg-color);
}
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: rgb(255, 255, 255);
}

p, h1, h2, h3, h4, h5, h6 {
    /* margin: 0!important; */
}   

:root {
    --bg-color: #323232;
    --bg-color: rgb(80, 55, 53);
    --bg-color: rgb(0, 55, 109);
    

    --accent-color1: #8593c8;
    --accent-color1: rgb(143, 157, 210);
    --accent-color1: rgba(118, 141, 176, 0.8);
    --accent-color1: hsla(180, 30%, 50%, 0.8);



    --accent-color2: #3c17179b;
    --accent-color2-hover: rgb(247, 117, 117);

    --scroll: 0;

    --text-color: white;
    --text-color-light: rgb(200, 200, 200);
    --text-color-dark: rgb(100, 100, 100);

}


.light-mode {
    --text-color: black;
    /* --borderColor: var(--borderColor_light); */
}

.dark-mode {
    --text-color: white;
    /* --borderColor: var(--borderColor_dark); */
}