
@import '@angular/material/theming';
@include mat-core();



// Light mode
$alternate-primary: mat-palette($mat-blue-grey);
$alternate-accent: mat-palette($mat-pink, 500, 900, A100);
$alternate-warn: mat-palette($mat-red);
$alternate-theme-light: mat-light-theme($alternate-primary, $alternate-accent, $alternate-warn);

// Dark mode
$alternate-primary: mat-palette($mat-blue-grey);
$alternate-accent: mat-palette($mat-pink, 500, 900, A100);
$alternate-warn: mat-palette($mat-red);
$alternate-theme-dark: mat-dark-theme($alternate-primary, $alternate-accent, $alternate-warn);

// leight and dark mode change nothing, always dark mode 
.light-mode {
    @include angular-material-theme($alternate-theme-dark);
}

.dark-mode {
    @include angular-material-theme($alternate-theme-dark);
}