:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "formular infos"
                         "formular storno"
                         "formular .";
    grid-gap: 20px;
    align-items: start;

    width: min(90%, 1100px);
    padding: 50px 0;
    
    @media screen and (max-width: 374px) {
        width: 97%;
    }
    @media screen and (max-width: 348px) {
        width: 100%;
    }
}

.formular {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex-grow: 100;
    min-width: calc(min(80%, 400px));
    max-width: 100%;
    grid-area: formular;
}

.emailWarning {
    max-width: 100%;
    word-wrap: break-word;
    margin-bottom: 30px;
    display: inline-flex;
}

.helper {
    --annotatedText: 'Helferticket';
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 100%;
    padding: 20px 15px 0;
}
.infos {
    --annotatedText: 'Infos';
    /* height: fit-content; */
    grid-area: infos;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.storno {
    grid-area: storno;
    width: fit-content;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stornoInside {
    display: none;
    width: fit-content;
    margin-top: 10px;
    /* margin-left: 30px; */
}


@media (max-width: 800px) {
    form {
        grid-template-columns: 1fr;
        grid-template-areas:    
            "infos"
            "formular";
    }
    .storno {
        display: none;
    }
    .stornoInside {
        display: block;
    }
}


/* disable table styling */
.mat-mdc-table {
    background-color: rgba(0,0,0,0);
}
.mat-elevation-z8 {
    box-shadow: none;
}

mat-form-field {
    width: 100%;
}
