:host {
  margin: 100px 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-content: center;
}

img {
  width: auto;
  height: 100px;
  object-fit: cover;
  transition: 1s;
  border: 1.5px solid #000;
  border-radius: 5px;
  user-select: none;
}

img:hover {
  box-shadow: none;
  transform: scale(1.1);
  transition: 0.1s;
}

@media screen and (max-width: 768px){
  :host {
    gap: 5px;
  }
  img {
    height: 80px;
    max-width: 120px;
  }
}