:host {
    pointer-events: none;
}

.navbar {
    width: 100vw;
    background-color: var(--accent-color1);
    align-items: center;
    position: relative;

    font-family: 'Rubik', sans-serif;
    margin: 0 30px 5px 0;

    font-size: 50px;
    height: 60px;
    align-items: center;

    display: flex;
    gap: 40px;

}

.fade-in {
    opacity: calc(2 * var(--scroll) - 4.5 + 0 * var(--isMobilePercentage));
}



/* .links {
    display: flex;
    column-gap: 40px;
} */

@media (max-width: 1050px) {
    .navbar {
        font-size: 40px;
        height: 55px;
        column-gap: 30px;
    }
}
@media (max-width: 900px) {
    .navbar {
        font-size: 35px;
        height: 50px;
        column-gap: 20px;
    }
}
@media (max-width: 820px) {
    .navbar {
        font-size: 30px;
        height: 45px;
        column-gap: 15px;
    }
}
.navbar p {
    cursor: pointer;
    pointer-events: auto;
    margin: 0;
}



.turnier {
    color: rgba(255, 255, 255, 0.3);
    pointer-events: none;
}



.linksOpen {
    /* padding: 100px 0; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 100px;
    text-align: center;
    transition: all 0.3s ease;
}


.burger {
    display: none;
    flex-direction: column;
    margin: 10px 0;
    margin-left: auto;



}

.line {
    width: 35px;
    height: 5px;
    background-color: var(--text-color);
    margin: 4px;
    /* transition: all 0.3s ease; */
    /* rounded corners */
    border-radius: 1.5px;
}


/* todo, why does this not work? */
@media (max-width: 750px) {
    .links {
        display: none;
    }
    .burger {
        display: flex;
        pointer-events: auto;
        cursor: pointer;
    }
}
