
<h1>Allgemeine Geschäftsbedingungen</h1>

<section>
    <h2>1. Kartenerwerb</h2>
    <ul class="styled-list">
        <li>Mit dem Kauf eines Tickets werden Käufer:innen und der Klangkollektiv-Braunschweig e.V. (Rabenrodestraße 3, 38110 Braunschweig, vertreten durch Tom Lichtenberg, Amtsgericht Braunschweig) Vertragspartner:innen. Die Anzahl an Tickets ist limitiert. Tickets sind im Online-Vorverkauf über https://www.scheppernaufbrettern.de/tickets/ erhältlich. Der Gesamtpreis der Bestellung ist innerhalb von 14 Tagen nach Vertragsschluss oder, falls dieser Zeitraum in den Festival-Zeitraum fällt, spätestens zum Zeitpunkt des Einlasses fällig. Die Tickets werden per E-Mail nach Zahlungseingang versendet. Sollte nach Ablauf der Frist kein Zahlungseingang festgestellt worden sein, ist der Vertragsschluss nichtig und das gebuchte Ticket somit storniert.</li>
        <li>Vor dem Kauf eines Tickets müssen die Allgemeinen Geschäftsbedingungen und die Datenschutzerklärung akzeptiert werden.</li>
        <li>Der Ticketpreis setzt sich aus 15€ für das Camping und dem Restbetrag, der sich aus der beim Ticketkauf angezeigten Summe für das Festival ergibt, zusammen. Sollte das Festivalticket einzeln erworben werden wollen, muss sich dazu an den Klangkollektiv Braunschweig e.V. gewendet werden. Das Camping Ticket selbst ist nicht einzeln erwerbsfähig.</li>
        <li>Zahlung ist ausschließlich per Banküberweisung möglich. Nach der Bestellung erhalten Käufer:innen eine E-Mail mit den entsprechenden Bankdaten.</li>
        <li>Tickets sind grundsätzlich personalisiert und nur für eine einzige Person gültig, sofern auf dem Ticket nichts anderes angegeben ist. Mit dem Ticket erhalten Käufer:innen einen persönlichen Link, mit dem das Ticket neu personalisiert werden kann.</li>
        <li>Mit Kauf des Tickets erhält der/die Käufer:in eine Eintrittsberechtigung zum Festival sowie einen garantierten Zeltplatz.</li>
        <li>Der Klangkollektiv-Braunschweig e.V. behält sich das Recht vor, Tickets an der Abendkasse anzubieten. Sollten Tickets an der Abendkasse angeboten werden, muss das Ticket vor Ort in bar bezahlt werden.</li>
        <li>Ein Rückgaberecht von Tickets ist grundsätzlich ausgeschlossen. Der Klangkollektiv-Braunschweig e.V. behält sich das Recht auf Einzelfallprüfung vor.</li>
        <li>Nur Personen, die bei Einlass des Festivals das 18. Lebensjahr abgeschlossen haben, sind berechtigt, ein Ticket zu erwerben.</li>
    </ul>
</section>
<section>
    <h2>2. Weiterverkauf</h2>
    <ul class="styled-list">
        <li>Es ist grundsätzlich untersagt, die bereits erworbene Eintrittskarte gewerblich weiterzuverkaufen. Es ist untersagt, die Tickets privat zu einem höheren Preis als dem aufgedruckten Ticketpreis zzgl. nachgewiesener Gebühren weiterzuverkaufen. Auch eine Verwendung zu Verlosungszwecken und/oder zur Durchführung von Gewinnspielen ist ohne vorherige ausdrückliche schriftliche Zustimmung der Veranstalter:innen untersagt. Ein Verstoß führt zum entschädigungslosen Verlust der Eintrittsberechtigung.</li>
        <li>Der Weiterverkauf erfolgt ausschließlich über die Umpersonalisierungsfunktion, die über den persönlichen Link auf https://www.scheppernaufbrettern.de/ erreichbar ist. Dies erfolgt durch Angabe der Daten der Person, an die das Ticket weiterverkauft wurde. Der private Weiterverkauf geschieht in eigener Verantwortung. Der Klangkollektiv-Braunschweig e.V. übernimmt weder für ausbleibende Zahlungen, noch für eine nicht erfolgte Umpersonalisierung trotz Zahlung die Haftung.</li>
        <li>Nachdem der/die ursprüngliche Besitzer:in des Tickets die Umpersonalisierung mit dem persönlichen Link durchführt, erhält die kaufende Person einen Link per E-Mail, mit dem sie das Ticket akzeptieren kann. Bei erfolgreicher Akzeptierung wird anschließend der kaufenden Person ein neues Ticket ausgestellt und das der verkaufenden Person entwertet. Bevor die kaufende Person das Ticket annehmen kann, muss sie die Allgemeinen Geschäftsbedingungen und die Datenschutzerklärung akzeptieren.</li>
        <li>Sollte das weiterverkaufte Ticket einen Carpass beinhalten wird dieser mitverkauft. Ist aber bei Einlass erstattungsfähig.</li>
        <li>Tickets von Helfer:innen dürfen nicht weiterverkauft werden. Dies bedarf der vorherigen Absprache mit dem Klangkollektiv Braunschweig e.V..</li>
    </ul>
</section>
<section>
    <h2>3. Einlass</h2>
    <ul class="styled-list">
        <li>Ein Einlass zum Festival ist nur mit gültiger Eintrittskarte möglich. Beim Einlass ist die Karte zusammen mit einem gültigen Lichtbildausweis vorzuzeigen. Bei gültiger Karte wird ein Festivalband ausgehändigt, das während des gesamten Festivals von dem/der Besucher:in getragen werden muss. Das Festivalband ist nicht übertragbar.</li>
        <li>Der Klangkollektiv-Braunschweig e.V. behält sich das Recht vor, sollte der/die Festivalbesucher:in dazu aus wichtigem Grund Anlass geben, den Einlass zum Festival zu verweigern. Als wichtiger Grund gilt insbesondere ein offensichtlicher stark alkoholisierter Zustand der Besucherin/ des Besuchers, ein(e) offensichtlich menschenverachtende(s), rassistische(s), homophobe(s) Kleidung und/oder Verhalten sowie gefährlicher Gegenstände (z.B. Waffen, Pyrotechnik, Fackeln, Rauschmittel und andere gefährliche Gegenstände).</li>
        <li>Im Falle, dass einer Person der Einlass verweigert wird, erfolgt keine Rückerstattung des gezahlten Geldbetrags.</li>
        <li>Der Klangkollektiv Braunschweig e.V. behält sich das Recht vor bei Einlass eine Sicherheitskontrolle mit sogenannten Bodycheck durchzuführen. Werden infolge der Sicherheitskontrolle Gefahren für die Veranstaltung und/oder für andere Besuchende festgestellt, so kann der Zutritt zur Veranstaltung verweigert werden. Zudem behält sich das Klangkollektiv Braunschweig e.V. dieses Recht vor, wenn der Besuchende sich weigert, gefährliche Gegenstände zurückzulassen, oder sogar der Person den Einlass zu verweigern.</li>
        <li>Die Veranstalter:innen übernehmen keine vertraglichen Verpflichtungen zur Führung der Aufsicht über Personen, die aufgrund ihres geistigen oder körperlichen Zustandes der Beaufsichtigung bedürfen. Dies gilt sowohl gegenüber den Aufsichtsbedürftigen als auch gegenüber Aufsichtspflichtigen.</li>
        <li>Unter Vorlage eines Schwerbehindertenausweises erhält eine Begleitperson kostenlosen Zutritt zum Festivalgelände. Die Begleitperson muss zum Zeitpunkt des Eintritts ebenfalls das 18. Lebensjahr vollendet haben.</li>
    </ul>
</section>
<section>
    <h2>4. Barrierefreiheit</h2>
    <ul class="styled-list">
        <li>Das Gelände des Scheppern auf Brettern ist nicht vollständig barrierefrei zugänglich. Die Fläche ist damit nur eingeschränkt nutzbar. Sollten Besucher:innen spezielle Anforderungen an die Barrierefreiheit haben, sollten sie sich vor dem Ticketkauf an das Team des Klangkollektiv-Braunschweig e.V. wenden.</li>
    </ul>
</section>
<section>
    <h2>5. Absage, Abbruch der Veranstaltung, Verspätung, Programmänderung</h2>
    <ul class="styled-list">
        <li>Die Veranstaltung findet bei jedem Wetter statt, solange die Veranstalter:innen die Umstände des Wetters verantworten können. Sollten durch die Witterungsumstände Gefahr für Körper und Gesundheit bestehen, kann die Veranstaltung abgesagt oder - nach Beginn - abgebrochen werden. Bereits gezahlte Tickets werden in diesem Fall nicht zurückerstattet.</li>
        <li>Kann die Veranstaltung aufgrund höherer Gewalt nicht stattfinden (z.B. Naturkatastrophen, kriegerische Auseinandersetzung oder allgemeine staatlich angeordnete Beschränkungen, Pandemien), werden die Parteien von ihren vertraglichen Verpflichtungen frei. In diesem Fall entfallen die gegenseitigen Pflichten. Alle Vertragspartner:innen trägt seine bis dahin entstandenen Kosten selbst.</li>
        <li>Der Klangkollektiv-Braunschweig e.V. behält sich das Recht vor, aus Sicherheitsgründen den Zugang zu Bereichen des Festivalgeländes, wie z.B. Bühnen und den umliegenden Ruinen zu beschränken. Hieraus ergeben sich keine Schadensersatzansprüche.</li>
        <li>Der Klangkollektiv-Braunschweig e.V. behält sich das Recht vor, die Veranstaltung örtlich und/oder terminlich zu verlegen, soweit die Durchführung unmöglich oder unzumutbar und zugleich die Verlegung für den/die Besucher:in zumutbar ist.</li>
        <li>Soweit dem Klangkollektiv-Braunschweig e.V. Informationen über abgesagte oder geänderte Veranstaltungstermine oder den Veranstaltungsort vorliegen, werden Ticketkäufer:innen unverzüglich nach Kenntnisnahme dieser Informationen, soweit möglich, durch den Klangkollektiv-Braunschweig e.V. per E-Mail informiert. Zusätzlich werden dahingehend Veröffentlichungen in den Sozialen Medien erfolgen.</li>
        <li>Das Line-Up ist zu jederzeit vorläufig und kann jederzeit von den Veranstalter:innen geändert werden. Änderungen des Line-Ups inklusive Wegfall einzelner Künstler:innen führen nicht zu einer teilweisen oder kompletten Erstattung des Ticketpreises. Dies schließt ausdrücklich Künstler:innen-Absagen, die nicht in der Hand der Veranstalter:innen liegen, ein.</li>
    </ul>
</section>
<section>
    <h2>6. Bild- und Tonaufzeichnungen, Einwilligung zur Anfertigung von Bild- und Tonaufnahmen</h2>
    <ul class="styled-list">
        <li>Aufzeichnungen dürfen ausschließlich zu privaten Zwecken angefertigt werden und sind untersagt für jegliche kommerzielle Nutzung. Davon ausgenommen sind Personen, die zuvor die Erlaubnis des Klangkollektiv Braunschweig e.V. erhalten haben.</li>
        <li>Mit dem Betreten des Festivalgeländes willigt der/die Besucher:in unwiderruflich in die unentgeltliche Verwendung seines/ihres Bildnisses und seiner/ihrer Stimme für Fotografien, Live-Übertragungen, Sendungen und/ oder Aufzeichnungen von Bild und/ oder Ton, die vom Klangkollektiv-Braunschweig e.V. oder dessen Beauftragten in Zusammenhang mit der Veranstaltung erstellt werden, sowie deren anschließenden Verwertung in allen gegenwärtigen und zukünftigen Medien, wie insbesondere in Form von Bild- und Tonträgern sowie der digitalen Verbreitung, z.B. über das Internet, ein.</li>
        <li>Auf dem Festivalgelände werden die Ein- und Ausgänge sowie Bereiche, in denen Technik steht, videoüberwacht, um die Sicherheit und Ordnung zu gewährleisten.</li>
    </ul>
</section>
<section>
    <h2>7. Gesundheitsschäden</h2>
    <ul class="styled-list">
        <li>Wir weisen darauf hin, dass bei dem Festival aufgrund erhöhter Lautstärke die Gefahr von möglichen Gesundheitsschäden, insbesondere Hörschäden, besteht. Es wird grundsätzlich empfohlen, Ohrstöpsel zu verwenden. Zudem besteht ausgehend der Pyro-, Licht-, Strobotechnik oder sonstigen Spezialeffekten eine gesteigerte Reizbelastung. Der Besuch der Veranstaltung erfolgt daher auf eigene Gefahr. Eine Haftung der Veranstalter:innen für auftretende Gesundheitsschäden aufgrund mangelnder Vorsorge ist ausgeschlossen, es sei denn, die Veranstalter:innen handeln grob fahrlässig oder vorsätzlich oder haben die Verkehrssicherungspflicht nicht erfüllt.</li>
    </ul>
</section>
<section>
    <h2>8. Haftung</h2>
    <ul class="styled-list">
        <li>Besucher:innen haften für alle durch ihr Verhalten entstehenden Schäden. Den Anweisungen der Veranstalter:innen und von den Veranstalter:innen ermächtigten Personen ist uneingeschränkt Folge zu leisten. Besucher:innen, die sich wiederholt nicht an die Besucher:innenordnung und an die Anweisungen des Personals halten, können vom Veranstaltungsgelände und dem Campingplatz verwiesen werden. Es kann grundsätzliches Platzverbot auch für zukünftige Veranstaltungen ausgesprochen werden. Bei Verstoß gegen gesetzliche Vorschriften oder diese Regelungen kann ein Verweis vom Veranstaltungsgelände erfolgen. In diesem Fall ist eine Rückvergütung und Schadensersatz ausgeschlossen, soweit dem Klangkollektiv-Braunschweig e.V. nicht selbst grobe Fahrlässigkeit oder Vorsatz zur Last gelegt werden kann.</li>
        <li>Schadensersatzansprüche gegenüber dem Klangkollekiv Braunschweig e.V. aufgrund von Fahrlässigkeit sind ausgeschlossen. Ferner ist die Haftung des Klangkollektiv-Braunschweig e.V. für Schäden ausgeschlossen, die ausschließlich dem Risikobereich der Besuchenden zuzurechnen sind. Der Haftungsausschluss gilt auch für seine gesetzlichen Vertreter:innen oder seine Erfüllungsgehilf:innen. Der Haftungsausschluss gilt nicht für Schäden aufgrund einer Verletzung des Körpers, Lebens, Gesundheit, sowie bei grober Fahrlässigkeit oder Vorsatz des Klangkollektiv-Braunschweigs e.V. oder aufgrund der Verletzung wesentlicher Vertragspflichten oder bei anfänglicher Unmöglichkeit, wobei hierbei der Schadensersatzanspruch auf den Ersatz des vorhersehbaren, typischen Schadens begrenzt wird.</li>
        <li>Der Klangkollektiv-Braunschweig e.V. haftet nicht für Schäden herrührend aus Naturereignissen, Einbruch, Diebstahl, Verlust oder für sonstige Schäden an Wertgegenständen.</li>
        <li>Weitergehende Haftungen sind ausgeschlossen.</li>
    </ul>
</section>
<section>
    <h2>9. Parken</h2>
    <ul class="styled-list">
        <li>Besucher:innen können das Recht erhalten, ihr Fahrzeug auf den Zeltwiesen des Festivalgeländes zu parken. Dies geschieht durch Erwerb des “Carpass” beim Ticketkauf.</li>
        <li>Sofern Besucher:innen das Recht erwerben, ihr Fahrzeug auf dem Festivalgelände zu parken, geschieht dies auf eigene Gefahr. Für Beschädigung oder Diebstahl übernimmt der Klangkollektiv Braunschweig e.V. keine Haftung, es sei denn, dem Klangkollektiv Braunschweig e.V. fällt Vorsatz oder grobe Fahrlässigkeit zur Last.</li>
        <li>Änderung der allgemeinen Geschäftsbedingungen</li>
        <li>Die AGBs gelten jeweils in der gültigen Fassung. Wir behalten uns dabei das Recht vor, diese AGB jederzeit zu ändern, wenn dies aufgrund einer Gesetzesänderung, einer Änderung der Rechtsprechung oder aufgrund einer Änderung der wirtschaftlichen Verhältnisse oder wegen behördlicher Vorgaben oder aus dringenden internen Änderungen notwendig geworden ist. </li>
        <li>Einer solchen Änderung kann widersprochen werden. Die Widerspruchsfrist beläuft sich auf zwei Wochen ab Bekanntgabe der Änderung der AGB. Der Widerspruch muss schriftlich und fristgerecht beim Klangkollektiv Braunschweig e.V. eingehen.</li>
    </ul>
</section>
<section>
    <h2>10. Hausrecht</h2>
    <ul class="styled-list">
        <li>Auf dem gesamten Festivalgelände wird das Hausrecht vom Klangkollektiv Braunschweig e.V. bzw. durch beauftragte Dritte ausgeübt. </li>
        <li>Besucher:innen, die gegen die Verhaltensregeln verstoßen, eine Gefahr für andere Besucher:innen darstellen oder einen strafrechtlichen Tatbestand erfüllen oder wenn erwartbar ist, dass sie diesen erfüllen, können vom Veranstaltungsgelände verwiesen oder gegen diesen ein Hausverbot erteilt werden.</li>
        <li>Den Anweisungen des Klangkollektiv Braunschweigs e.V. und/oder seiner/ihrer Erfüllungsgehilf:innen ist Folge zu leisten.</li>
    </ul>
</section>
<section>
    <h2>11. Verhaltensregeln</h2>
    <ul class="styled-list">
        <li>Das Klettern auf der Bühne, den Traversen oder ähnlichen Strukturen ist grundsätzlich untersagt. Ein solches Fehlverhalten kann zu Schadensersatzansprüchen führen.</li>
        <li>Jegliche Form von Gewalt und Diskriminierung jeglicher Art, einschließlich Rassismus, Sexismus, Homophobie, Transphobie und Ableismus, gegen Personen oder Gegenstände ist untersagt.</li>
        <li>Belästigung anderer Teilnehmer:innen, einschließlich sexueller Belästigung, ist strengstens untersagt.</li>
        <li>Diebstahl oder Vandalismus von Eigentum des Festivals oder anderer Teilnehmer:innen sind strikt untersagt und werden geahndet.</li>
        <li>Der Missbrauch von Drogen oder Alkohol, insbesondere in einer Weise, die andere gefährdet, ist untersagt.</li>
        <li>Aggressives oder gewalttätiges Verhalten gegenüber anderen Teilnehmer:innen oder dem Festivalpersonal ist streng untersagt.</li>
        <li>Unbefugtes Betreten oder Manipulation von technischen Einrichtungen, z. B. Bühnen oder Absperrungen ist untersagt.</li>
        <li>Das Betreten abgesperrter Bereiche, wie beispielsweise eingestürzter Ruinen, ist untersagt. Zuwiderhandlungen führen zum Erlöschen der Haftung des Klangkollektiv Braunschweigs e.V.</li>
        <li>Das Mitbringen oder Verwenden von gefährlichen Gegenständen oder Waffen jeglicher Art ist untersagt.</li>
        <li>Störendes oder belästigendes Verhalten, das die Erfahrung anderer Teilnehmer:innen beeinträchtigt, wird nicht toleriert.</li>
        <li>Die Missachtung von Sicherheitsrichtlinien oder Anweisungen des Festivalpersonals ist nicht gestattet.</li>
        <li>Das Verbreiten von Hassrede und Hetze ist streng untersagt.</li>
        <li>Unangemessene Darbietungen oder Handlungen, die die Festivalatmosphäre stören, sind nicht erlaubt.</li>
        <li>Der Missbrauch von Notfallausrüstung oder Fehlalarmierung von Rettungsdiensten ist untersagt.</li>
        <li>Fehlverhalten gegenüber Tieren oder die Belästigung von Wildtieren auf dem Festivalgelände ist verboten.</li>
        <li>Das Fotografieren oder Aufnehmen von Personen ohne deren Zustimmung, insbesondere für belästigende oder missbräuchliche Zwecke, ist untersagt.</li>
        <li>Die Nutzung von Fahrzeugen oder Transportmitteln auf dem Festivalgelände muss den festgelegten Regeln entsprechen.</li>
        <li>Die Einhaltung von Umwelt- oder Naturschutzrichtlinien, einschließlich der sachgemäßen Entsorgung von Abfällen, ist obligatorisch.</li>
        <li>Falls ein/e Helfer:in ihre eingewilligte Leistung nicht erbringt, behält sich der Klangkollektiv Braunschweig das Recht vor, das vergünstigte Ticket zurückzunehmen und die Person vom Festival zu verweisen.</li>
    </ul>
</section>
<section>
    <h2>12. Jugendschutz</h2>
    <ul class="styled-list">
        <li>Auf dem Festivalgelände gelten die Bestimmungen des Gesetzes § 30 zum Schutz der Jugend in der Öffentlichkeit.</li>
        <li>Personen unter 18 Jahren ist der Zutritt zum Festivalgelände untersagt.</li>
    </ul>
</section>
<section>
    <h2>13. Tiere</h2>
    <ul class="styled-list">
        <li>Das Mitbringen von Tieren auf das Festivalgelände ist untersagt.</li>
    </ul>
</section>
<section>
    <h2>14. Externe Links</h2>
    <ul class="styled-list">
        <li>Diese Website enthält Verknüpfungen zu Websites Dritte:r ("externe Links"). Diese Websites unterliegen der Haftung der jeweiligen Betreiber:innen. Der/die Anbieter:in hat bei der erstmaligen Verknüpfung der externen Links die fremden Inhalte daraufhin überprüft, ob etwaige Rechtsverstöße bestehen. Zu dem Zeitpunkt waren keine Rechtsverstöße ersichtlich. Der/die Anbieter:in hat keinen Einfluss auf die aktuelle und zukünftige Gestaltung und auf die Inhalte der verknüpften Seiten. Das Setzen von externen Links bedeutet nicht, dass sich der/die Anbieter:in die hinter dem Verweis oder Link liegenden Inhalte zu eigen macht. Eine ständige Kontrolle der externen Links ist für den Anbieter oder die Anbieterin ohne konkrete Hinweise auf Rechtsverstöße nicht zumutbar. Bei Kenntnis von Rechtsverstößen werden derartige externe Links unverzüglich entfernt.</li>
    </ul>
</section>
