
<h1>Allgemeine Geschäftsbedingungen</h1>

<section>
    <h2>1. Kartenerwerb</h2>
    <ul class="styled-list">
        <li>Mit dem Kauf eines Tickets werden Käufer:innen und der Klangkollektiv-Braunschweig e.V. (Rabenrodestraße x, xxxxx Braunschweig, vertreten durch Tom Lichtenberg, Amtsgericht ???) Vertragspartner. Die Anzahl an Tickets ist limitiert. Tickets sind im Online-Vorverkauf über https://www.scheppernaufbrettern.de/tickets/ erhältlich. Der Gesamtpreis der Bestellung ist mit Vertragsschluss innerhalb von 14 Tagen fällig. Die Tickets werden per E-Mail nach Zahlungseingang versendet. Sollte nach 14 Tagen kein Zahlungseingang festgestellt worden sein, ist der Vertragsschluss nichtig und das gebuchte Ticket wird storniert.</li>
        <li>Vor dem Kauf eines Tickets müssen die Allgemeinen Geschäftsbedingungen und die Datenschutzerklärung akzeptiert werden.</li>
        <li>Zahlung ist ausschließlich per Banküberweisung möglich. Nach der Bestellung erhalten Käufer:innen eine E-Mail mit den entsprechenden Bankdaten.</li>
        <li>Tickets sind grundsätzlich personalisiert und nur für eine einzige Person gültig, sofern auf dem Ticket nichts anderes angegeben ist. Mit dem Ticket erhalten Käufer:innen einen persönlichen Link, mit dem das Ticket neu personalisiert werden kann.</li>
        <li>Mit Kauf des Tickets erhält der/die Käufer:in eine Eintrittsberechtigung zum Festival sowie einen garantierten Zeltplatz.</li>
        <li>Der Klangkollektiv-Braunschweig e.V. behält sich das Recht vor, Tickets an der Abendkasse anzubieten. Sollten Tickets an der Abendkasse angeboten werden, muss das Ticket vor Ort in bar bezahlt werden.</li>
        <li>Ein Rückgaberecht von Tickets ist grundsätzlich ausgeschlossen. Der Klangkollektiv-Braunschweig e.V. behält sich das Recht auf Einzelfallprüfung vor.</li>
        <li>Nur Personen, die vor dem Beginn des Festivals das 18. Lebensjahr abgeschlossen haben, sind berechtigt, ein Ticket zu erwerben.</li>
    </ul>
</section>
<section>
    <h2>2. Weiterverkauf</h2>
    <ul class="styled-list">
        <li>Es ist grundsätzlich untersagt, die bereits erworbene Eintrittskarte gewerblich weiterzuverkaufen. Die Tickets dürfen auch privat nicht zu einem höheren Preis als den aufgedruckten Ticketpreis zzgl. nachgewiesener Gebühren veräußert werden. Auch eine Verwendung zu Verlosungszwecken und/oder zur Durchführung von Gewinnspielen ist ohne vorherige ausdrückliche schriftliche Zustimmung des Veranstalters untersagt. Ein Verstoß führt zum entschädigungslosen Verlust der Eintrittsberechtigung.</li>
        <li>Der Weiterverkauf ist ausschließlich über die mit dem persönlichen Link erreichbare Umpersonalisierungsfunktion auf https://www.scheppernaufbrettern.de/ durchzuführen. Dies erfolgt durch Angabe der Daten der Person, an die das Ticket weiterverkauft wurde. Der private Weiterverkauf geschieht in eigener Verantwortung. Der Klangkollektiv-Braunschweig e.V. übernimmt weder für ausbleibende Zahlungen, noch für eine nicht erfolgte Umpersonalisierung trotz Zahlung die Haftung.</li>
        <li>Nachdem der/die ursprüngliche Besitzer:in des Tickets die Umpersonalisierung mit dem persönlichen Link durchführt, erhält die kaufende Person einen Link per E-Mail, mit dem sie das Ticket akzeptieren kann. Bei erfolgreicher Akzeptierung wird anschließend der kaufenden Person ein neues Ticket ausgestellt und das der verkaufenden Person entwertet. Bevor die kaufende Person das Ticket annehmen kann, muss sie die Allgemeinen Geschäftsbedingungen und die Datenschutzerklärung akzeptieren.        </li>
    </ul>
</section>
usw..

<!-- <footer>
    <p>&copy; 2023 Klangkollektiv Braunschweig e.V.</p>
</footer> -->