<mat-spinner *ngIf="isLoading"></mat-spinner>
<ng-container *ngIf="success">

    <div class="boxAnnotation ticket card">
        <p>{{name}} {{surname}}</p>

        <table>
            <tr>
                <td>Order ID</td>
                <td>{{orderID}}</td>
            </tr>
            <tr>
                <td>Carpass</td>
                <td>{{carpass ? 'Ja' : 'Nein'}}</td>
            </tr>
            <tr>
                <td>Helfer</td>
                <td>{{helper ? 'Ja' : 'Nein'}}</td>
            </tr>
        </table>

    </div>
</ng-container>
<p style="white-space: pre-line;">{{ statusMessage }}</p>
<ng-container *ngIf="!success">
</ng-container>