<mat-accordion *ngFor="let section of faqSections">
    <h1 style="margin: 0 20px">{{section.title}}</h1>
    <mat-expansion-panel *ngFor="let questions of section.questions" class="card row" style="padding: 0;">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ questions.question }}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div [innerHTML]="questions.answer"></div>
        <!-- {{ questions.answer }} -->
    </mat-expansion-panel>
</mat-accordion>