:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* background-image: url("/assets/jungle2.jpg");

    background-size: 100% 100%;
    background-size: cover; */
    padding: 100px 7px;

    --mat-expansion-container-background-color: rgba(0, 0, 0, 0.3);

}

mat-accordion {

    max-width: 1000px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-bottom: 50px;
}

.row {
    padding: 0;
    border: none;
    /* border only left and right */

    --border-width: 2px;
    /* --border-color: rgba(255,255,255,0.75); */
    --border-style: solid;

    border-left: var(--border-width) var(--border-style) var(--border-color);
    border-right: var(--border-width) var(--border-style) var(--border-color);
}

.row:first-child {
    border-top: var(--border-width) var(--border-style) var(--border-color);
}
.row:last-child {
    border-bottom: var(--border-width) var(--border-style) var(--border-color);
}


img {
  /* align in center */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



/* fix UI Bugs in Accordeon */
.row:active {
    background-color: rgba(255,255,255,0.2);
}
.cdk-mouse-focused {
    background-color: rgba(255,255,255,0)!important;
}
.mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover {
    background-color: rgba(255,255,255,0)!important;
    /* background-color: none!important; */
}
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
    background-color: rgba(255,255,255,0)!important;
    /* background-color: none!important; */
}
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
    background-color: rgba(255,255,255,0)!important;
    /* background-color: none!important; */
}



