<div class="container card">
    <h1>Kontakt</h1>
    <p>
        Feedback, Fragen, Anregungen? Schreib uns eine Nachricht! Wir freuen uns über jede Nachricht.
        Vergiss nicht Kontaktinformation von dir, falls du eine Rückmeldung erwartest. Deine Ticket ID kann auch nicht schaden, falls du Probleme mit deinem Ticket hast. 👍
    </p>
    
    <form [formGroup]="form">
        <mat-form-field>
            <mat-label>E-Mail</mat-label>
            <input type="text" id="name" matInput formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Telefonnummer</mat-label>
            <input type="text" id="name" matInput formControlName="phone">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Ticket ID</mat-label>
            <input type="text" id="name" matInput formControlName="ticketID">
        </mat-form-field>

        <mat-form-field class="message">
            <mat-label>Nachricht</mat-label>
            <textarea type="text" matInput formControlName="message"></textarea>
        </mat-form-field>

    
    
        <button mat-raised-button color="primary" (click)="submit()" [disabled]="form.invalid" style="width: fit-content; align-self: center;">
            Nachricht abschicken
        </button>
    
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <div *ngIf="statusMessage">{{ statusMessage }}</div>
    </form>
</div>