:host {
    display: grid;
    justify-items: center;
}

.jungleImage {
    /* width: calc(100% + 150% * var(--isMobilePercentage)); */
    /* width: calc(100% + * var(--isMobilePercentage)); */
    width: calc(100% + 150% * var(--isMobilePercentage));

}

.dateContainer {
    z-index: 2;
    position: absolute;
    top: 800px
}


.date {
    /* font-family: 'Bebas Neue', sans-serif; */
    font-family: 'Rubik', sans-serif;
    font-size: 6em;
    
    line-height: 1em;
    text-align: center;
    /* font-family: "fit-extra-condensed", sans-serif; */
}   

@media (max-width: 850px) { 
    .date { font-size: 4em; }
}
@media (max-width: 550px) {
    .date { font-size: 3em; }
}
@media (max-width: 400px) {
    .date { font-size: 2.5em; }
}




app-info-card {
    max-width: 800px;
    z-index: 2;
    overflow: visible;
    color: var(--text-color);
}



.infoText {
    padding: 40px;
    max-width: 800px;
    position: relative;
    margin: 0;
    font-size: 2em;
    line-height: 1.2em;
    font-weight: 100;
}

strong {
    font-weight: 700;
    font-size: 40px;
}

.infoBackground {
    display: grid;
    justify-content: center;
    width: 100vw;
    height: fit-content;
    background-color: rgb(50, 50, 50, 0.5);
}




.slider-wrapper {
    display: grid;
    grid-gap: 50px;
    justify-items: center;
    z-index: 1;
    padding: 50px 200px;
}

mat-slider {
    width: max(300px, 100%);
}   