<div class="parallax" id="scrollContainer" #scrollContainer>
    <app-parallax></app-parallax>

    <div class="line" style="width: 100%; background-color: green; margin-top: 100px;"></div>
    
    <div class="contentContainer">
        <div class="jungleContainer">
            <img class="jungleImage" src="/assets/jungle.jpg" alt="">
        </div>

        <div class="content">
            <p class="date fontGabriella">
                23. - 26.05.24<br>
                Windpark Druiberg
            </p>

            <div class="links fontGabriella">
                <div class="link active clickable" routerLink="/tickets">Tickets</div>
                <div class="link active clickable" routerLink="/galerie">Galerie</div>
                <div class="link active clickable" routerLink="/infos">Infos</div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>
<!-- <div class="link turnier" routerLink="/">Turnier</div> -->
