

<!-- <app-cursor class="cursor" [style.top]="top" [style.left]="left"></app-cursor> -->

<div class="windradContainer">
    <div class="windradAnimation" [appScrollObserver]="bezier_fast">
        <!-- <img class="windradStamm" src="/assets/windrad_stamm.png" alt=""> -->
        <img class="windradFluegel" style="--order: 0" src="/assets/windrad.svg" alt="">
        <img class="baumring" style="--order: 1" src="/assets/baum1.svg" alt="">
        <img class="baumring" style="--order: 2" src="/assets/baum2.svg" alt="">
        <img class="baumring" style="--order: 3" src="/assets/baum3.svg" alt="">
        <img class="baumring" style="--order: 4" src="/assets/baum4.svg" alt="">
        <img class="baumring" style="--order: 5" src="/assets/baum5.svg" alt="">
        <img class="baumring" style="--order: 6" src="/assets/baum6.svg" alt="">
    </div>

    <div class="citation">
        <p>
            "Beim 'Scheppern auf Brettern' des Klangkollektiv Braunschweig e.V. verschmelzen elektronische Klänge mit der rauen Naturkulisse eines gewaltigen Windparks. Ein atemberaubendes Festival, das Musik und Natur vereint, um dich in ein audiovisuelles Abenteuer zu entführen."
        </p>
        <p class="author">ChatGPT</p>
    </div>

</div>



<div class="bg">
    <div class="contentDummy">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis, reiciendis asperiores maiores laboriosam debitis expedita esse ullam aspernatur, assumenda exercitationem explicabo ducimus quam fugiat optio delectus soluta necessitatibus commodi. Praesentium.
    </div>
    <div class="contentDummy">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis, reiciendis asperiores maiores laboriosam
        debitis expedita esse ullam aspernatur, assumenda exercitationem explicabo ducimus quam fugiat optio delectus soluta
        necessitatibus commodi. Praesentium.
    </div>
    <div class="contentDummy">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis, reiciendis asperiores maiores laboriosam
        debitis expedita esse ullam aspernatur, assumenda exercitationem explicabo ducimus quam fugiat optio delectus soluta
        necessitatibus commodi. Praesentium.
    </div>
    <div class="contentDummy">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis, reiciendis asperiores maiores laboriosam
        debitis expedita esse ullam aspernatur, assumenda exercitationem explicabo ducimus quam fugiat optio delectus soluta
        necessitatibus commodi. Praesentium.
    </div>
    <div class="contentDummy">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis, reiciendis asperiores maiores laboriosam
        debitis expedita esse ullam aspernatur, assumenda exercitationem explicabo ducimus quam fugiat optio delectus soluta
        necessitatibus commodi. Praesentium.
    </div>
</div>