

<div class="dateContainer">
    <p class="date">
        23. - 26.05.2024 <br>
        Windpark Druiberg
    </p>
</div>

<img class="jungleImage" src="/assets/jungle4.png" alt="">





<!-- <div class="slider-wrapper">
    <mat-slider min="0" max="255">
        <input matSliderThumb [(ngModel)]="red" (input)="updateBackgroundColor()">
    </mat-slider>
    <mat-slider min="0" max="255">
        <input matSliderThumb [(ngModel)]="green" (input)="updateBackgroundColor()">
    </mat-slider>
    <mat-slider min="0" max="255">
        <input matSliderThumb [(ngModel)]="blue" (input)="updateBackgroundColor()">
    </mat-slider>
</div> -->




<!-- <div class="infoBackground">
        <p class="infoText">
            "Beim <strong>Scheppern auf Brettern</strong> des Klangkollektiv Braunschweig e.V. verschmelzen elektronische Klänge mit der rauen Naturkulisse eines gewaltigen Windparks.
            Ein atemberaubendes Festival, das Musik und Natur vereint, um dich in ein audiovisuelles Abenteuer zu entführen."
        </p>
    </div> -->


<!-- <div class="jungleImage2">
    
</div> -->

<!-- <app-info-card [citation]="'ChatGPT'">
    "Beim <strong>Scheppern auf Brettern</strong> des Klangkollektiv Braunschweig e.V. verschmelzen elektronische Klänge mit der rauen Naturkulisse eines gewaltigen Windparks.
    Ein atemberaubendes Festival, das Musik und Natur vereint, um dich in ein audiovisuelles Abenteuer zu entführen."
</app-info-card> -->







<!-- <app-cursor class="cursor" [style.top]="top" [style.left]="left"></app-cursor> -->


