
<div mat-dialog-content class="content">
  <mat-form-field>
    <mat-label>User</mat-label>
    <input matInput [(ngModel)]="username" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Passwort</mat-label>
    <input matInput [(ngModel)]="password" type="password" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="login()">Login</button>
  <mat-spinner [diameter]="50" *ngIf="isLoading"></mat-spinner>
  <p style="white-space: pre-line;">{{ statusMessage }}</p>
</div>