:host {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100vw;
    height: 100%;
}

.noTickets {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px;
}

.content {
    max-width: 1200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;

    flex-wrap: wrap;
    padding: 100px 0;
}

.ticketCount {
    display: flex;
    gap: 12px;
    margin-top: 100px;
}
strong {
    font-size: 28px;
    margin: 0 10px 0 12px;
}   
b {
    font-size: 20px;
}



.noTickets p {
    margin: 0;
}

.noTickets .heading {
    font-size: calc(20px + 1vw);
    margin: 80px 30px 80px 30px;
    line-height: 25px;
    text-align: center; 
}

.noTickets .infos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    --icon-color: #fff;
    /* transition: 100ms ease-in-out; */
    display: flex;
    gap: 10px;
    height: 30px;
    width: fit-content;
    padding: 12px 15px;
    
    margin: 20px 0 20px 0;
    cursor: pointer;
    
}

.link:hover {
    --icon-color: #25d366;
    /* transition: 100ms ease-in-out; */
    background-color: rgba(38, 212, 102, 0.1);
    border-radius: 10px;
}

.linkText {
    font-size: calc(16px + 1vw);
    color: var(--icon-color);
    align-self: center;
    transform: translateY(-2px);
}

.button {
    cursor: pointer;
    display: flex;
}

.priceBoxes {
    justify-self: center;
    display: grid;
    max-width: 480px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
.box {
    border: 1px solid #ffffff;
    border-radius: 2px;
    margin: 5px;
    padding: 15px 10px;
    text-align: center;
    opacity: 0.4;
    cursor: default;
    transition: 0.2s ease-in-out;

}

.box:not(.active):hover {
    opacity: 0.75;
    transition: 0.2s ease-in-out;
}

.active {
    border: 2px solid #ffffff;
    opacity: 1;
    padding: 25px 10px;
}


form {

    background: rgba(0, 0, 0, 0.48);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    border: 1px solid rgba(0, 0, 0, 0.3);


    padding: 30px;

    overflow: visible;
    max-width: 1000px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

.indented {
    margin-left: 44px;
}   
@media (min-width: 600px) {
    .isHelper {
        margin: 0 45px;
    }
}



.info {
    width: 100%;
    /* border-top: var(--text-color) 1px solid; */
    /* border-bottom: var(--text-color) 1px solid; */
    padding: 15px 0;
    margin: 20px 0;
}


.price p {
    margin: 0;
}




mat-form-field {
    width: 100%;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #ccc;

}

.price {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}


.carpassDisabled {
    position: relative;
    width: fit-content;
}

.carpassDisabled::after {
    content: "";
    position: absolute;
    inset: 0;
    height: max(90px, 100%);
    
    width: 100%;
    /* margin-top: -10px; */
    background-image: url("../../../assets/ausverkauft.png");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
}

.ausverkauft {
    position: absolute;
    width: 200px;
    /* margin: -10px 0 0 400px; */
    opacity: 0.4;

    display: grid;
    justify-self: center;
    align-self: center;
}

.infosButton {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* margin-bottom: 12px; */
    max-width: 900px;
}
.smallButton {
    display: none;
}

@media (max-width: 550px){
    .largeButton {
        display: none;
    }
    .smallButton {
        display: inline;
    }
}

form button {
    width: fit-content;
    align-self: center;
}


/* Ticket Anzeige */
.ticketContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ticket-card {
    background-color: var(--button1-color);
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.ticket-card:hover {
    background-color: #e0e0e0;
}

.ticket-card h2 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.ticket-card p {
    font-size: 1rem;
    margin: 5px 0;
}