

<div class="content">
    <div class="ticketCount" id="ticketCount">
        Noch <strong>{{ availableTickets$ | async }}</strong> Tickets verfügbar! <br>
    </div>
    <div class="priceBoxes" *ngIf="ticketLevels">
        <div class="box" *ngFor="let ticketLevel of ticketLevels" [ngClass]="{ 'active': ticketLevel.active }" [matTooltip]="'ab ' + ticketLevel.activation_date_string">
            <div class="name">{{ ticketLevel.name }}</div>
            <div style="font-size: 18px; font-weight: bold;">{{ ticketLevel.regular_price }}€</div>
        </div>
    </div>

    <form [formGroup]="ticketInfos">
        <mat-form-field>
            <mat-label>Vorname</mat-label>
            <input type="text" id="name" matInput formControlName="name">
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input type="text" id="surname" matInput formControlName="surname">
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>E-Mail</mat-label>
            <input type="email" id="email" matInput formControlName="email" email>
            <mat-error *ngIf="ticketInfos.get('email')?.hasError('email') && ticketInfos.get('email')?.touched">
                Gib eine gültige E-Mail Adresse ein!
            </mat-error>
        </mat-form-field>
    
        <mat-form-field  matTooltip="Damit wir dich kontaktieren können, falls was schief geht. Zusätzlich landest du in der WhatsApp Gruppe!">
            <mat-label>Telefonnummer</mat-label>
            <input type="tel" id="phone" matInput formControlName="phone">
        </mat-form-field>

        <div [class.carpassDisabled]="availableCarPasses < 1" style="margin-top: 30px;">
            <!-- <img *ngIf="availableCarPasses < 1" src="../../../assets/ausverkauft.png" alt="" class="ausverkauft" style="z-index: -1;"> -->
            <mat-checkbox formControlName="carpass">
                Carpass <br>
            </mat-checkbox>
            <p class="indented" [ngStyle]="availableCarPasses < 1 ? {'opacity': 0.5} : {}">
                Zahle 5€ mehr um dein Auto auch auf dem Gelände schlummern zu lassen. <br>
                Außerhalb gibt es sonst auch in unmittelbarer Nähe genug Parkplätze zum Campen im Auto.
            </p>
        </div>
        <div *ngIf="availableCarPasses < 1" class="indented">
            <mat-checkbox formControlName="carpassWish">Carpass hätte ich wirklich gern noch genommen</mat-checkbox>
            <div class="indented">
                <p>Für Statistikzwecke. Evtl. können wir einen Sponti-Carpass-Verkauf vor Ort ermöglichen, je nach Platzlage.</p>
            </div>
        </div>


        <!-- <div class="line" style="margin: 10px 0 15px 0; width: 100px;"></div> -->

        <div class="infosButton">
            <mat-checkbox formControlName="helper">Ich möchte Helfer*in werden!</mat-checkbox>
            <button mat-raised-button (click)="openHelperDialog()" class="largeButton" aria-label="Infos zu den Schichten">
                Infos zu den Schichten
            </button>
            <button mat-icon-button (click)="openHelperDialog()" color="white" class="smallButton" aria-label="Infos zu den Schichten ">
                <mat-icon>infos</mat-icon>
            </button>
        </div>

        <div class="indented" *ngIf="ticketInfos.get('helper')!.value" [@slideInFromTop]>
            <!-- <div class="line" style="margin: 10px 0;"></div> -->
            <p>
                Dein Ticketpreis reduziert sich um die Hälfte, und erfordert eine Mindestanzahl von 6 Stunden geleisteter Schichten. 
                Bei mehr Arbeitszeit erhältst du weitere Aufwandsentschädigungen in Form von Getränke- und Essensmarken!
            </p>
                
            <p>Bereiche in denen ich mich sehe:</p>
            <mat-form-field>
                <mat-select multiple formControlName="helperShifts">
                    <mat-option *ngFor="let shift of Global.helperShifts" [value]="shift.key">{{shift.value}}</mat-option>
                </mat-select>
            </mat-form-field>
            <p>
                Beachte, dass es sich dabei nur um Wünsche handelt, den tatsächlichen Einsatzbereich werden wir erst kurz vorher
                planen können.
                Security wird nur mit entsprechender Vorerfahrung/ Qualifikation möglich sein.
            </p>

            <div class="line" style="margin: 10px 0; width: 100px;"></div>

            <p>
                Gib uns Infos über dich, die wir wissen sollten. <br>
                Z.B. deine zeitlichen Präferenzen für Arbeitszeiten auf dem Festival
            </p>

            <mat-form-field>
                <!-- <mat-label>Gib uns Infos über dich die wir wissen sollten und was deine zeitlichen Präferenzen sind.</mat-label> -->
                <textarea matInput formControlName="helperInfos"></textarea>
            </mat-form-field>

            <!-- <div class="line" style="margin-bottom: 20px;"></div> -->
        </div>

        <div *ngIf="availableHelperTickets < 1" class="indented">
            <mat-checkbox formControlName="carpassWish">Ich wäre gerne noch Helfer*in geworden!</mat-checkbox>
            <div class="indented">
                <p>Als Notiz für uns. Falls wir doch mehr Helfer brauchen, als ursprünglich einkalkuliert kommen wir evtl. auf dich zurück.</p>
            </div>
        </div>
        
        <!-- <div class="line" style="margin: 15px 0 15px 0; width: 100px;"></div> -->

        <mat-checkbox formControlName="agbsAccepted" style="margin-top: 30px;">Bei den AGBs bin ich sowas von dabei*</mat-checkbox>
        <mat-checkbox formControlName="dataProtectionAccepted">Datenschutzhinweise hab ich nicht gelesen, stimm' ich aber trotzdem zu!*</mat-checkbox>
    
        <div class="info">
            <p>
                Du erhältst eine E-Mail mit Bankdaten für die Überweisung.
                Unser System checkt täglich einkommende Überweisungen und sendet dann die entsprechenden Tickets heraus.
                Es kann also durchaus ein paar Tage dauern, bis du dein Ticket erhältst.
            </p>
        </div>

        <div class="priceComponent">
            <div class="line"></div>
            <div class="price">
                <p>Dein Ticketpreis</p>
                <p style="font-size: 25px;">{{ ticketInfos.get('helper')!.value ? currentPriceHelper : currentPrice }}€</p>
            </div>
            <div class="line" style="margin-bottom: 10px;"></div>
        </div>

        <button mat-raised-button color="primary" (click)="submit()" [disabled]="ticketInfos.invalid">
            Kauf bestätigen
        </button>
    
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <div *ngIf="statusMessage">{{ statusMessage }}</div>
    </form>    
    
    <!-- debug -->
    <div class="ticketContainer">
        <div *ngFor="let ticket of tickets" class="ticket-card" (click)="routeToTicketEdit(ticket)">
            <h2>{{ ticket.name }} {{ ticket.surname }}</h2>
            <p>TicketID: {{ ticket.id }}</p>
            <p>Email: {{ ticket.email }}</p>
            <p>Phone: {{ ticket.phone }}</p>
            <p>Price: {{ ticket.price }}</p>
            <p>Ticket Sent: {{ ticket.ticket_sent ? 'Yes' : 'No' }}</p>
            <p>Created: {{ ticket.modified_at }}</p>
            <p>Status: {{ ticket.status }}</p>
            <p>Old TicketID: {{ ticket.old_ticketID }}</p>
        </div>
    </div>
</div>


