:host {
    position: relative;
    font-size: 1.5em;
    z-index: 2;
    line-height: 1.4em;

    font-family: 'Bitter', serif;

    padding: 20px 10px 0;
    border-radius: 12px;
    border: 1px solid rgba(88, 88, 88, 0.125);

    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);

    box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.8);
    /* background-color: rgba(20, 54, 105, 0.6); */
    background-color: var(--accent-color1);
    border: 1px solid rgba(88, 88, 88, 0.125);
}

.author {
    /* position: relative; */
    position: absolute;
    top: -15px;
    right: 15px;
}

/* p {
    width: 100%;
} */